germination.csv
germination.html
germination.pdf
GerminationAggrBox.csv
GerminationAggrPod.csv
germinationR.csv
ID_gousse_02-06.xlsx
Notations_TOTAL.xlsx
PowerAnalysesRmd20160805.Rmd
poisson.RData
powerZoneDesign.csv
seedPlant_bootstrap.RData
seedPod_bootstrap.RData
summaryGermination.html
summaryGermination.RData
Vcot_bootstrap.RData
viability_bootstrap.RData
viability_link.RData
Vrad_bootstrap.RData
.RData
.Rhistory
Analyse de génétique quantitative.docx
cauchit.R
fatR.txt
Figs_germination/*